*,
*::before,
*::after{
    margin: 0;
    padding: 0;box-sizing: border-box;
}

body{
    font-size: 1rem;
    font-family: system-ui, sans-serif;
    background:#CBCBCB;
    color:#101820ff;
}

.container-md{
    width: min(600px, 100vw);
    margin-inline: auto;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 80px;
    background-color: black;
    margin-top: 2rem;
    padding: 2rem;
    gap: .2rem;
    border-radius: .5rem;

    & div:nth-child(1){
        grid-column: -1/1;
        grid-row: span 2;
    }

    & div{
        padding: 2rem;
        transition: .3s ease-in-out;
        background-color: rgb(128, 128, 128);
        border-radius: .5rem;
        width: 100%;
        text-align: center;
        transition: .3s ease-in-out;

        &:hover{
            background-color:rgba(128, 128, 128, 0.7);
            cursor:pointer;
        }
    }
}
